@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}